<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vbouchet.workflow.acquia-cloud-shortcuts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>039BD519-414D-4AA0-B0F6-16C1E3D3E0B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>740FD2B6-0479-4349-8FF1-0E4EF468907F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FF55B05-0674-432B-A8E8-FC1837C21877</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>728D53BB-C790-47B7-AC34-3A63863B6393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FF55B05-0674-432B-A8E8-FC1837C21877</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55762EE3-1ECD-4062-9954-EF9E4AF4F2B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEFD9F6C-6563-4629-A917-97C0475395D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4E4EC1EC-1784-4670-A13E-F043184103BF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91F7F02F-B4BF-4D0D-8C96-9CCDBFC7CEC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>728D53BB-C790-47B7-AC34-3A63863B6393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE35A362-F79B-4825-9035-C285455CB929</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>740FD2B6-0479-4349-8FF1-0E4EF468907F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC6DE4C-D0D6-402C-820E-2ABB975A7207</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B66E529-6AD0-40DF-A3CF-E8A8F3220003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D539CBE8-FDA6-4092-AE70-F7DAFAB6A38B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAC6DE4C-D0D6-402C-820E-2ABB975A7207</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA3BB6EB-4D83-4C6B-9C1E-00CC4F052995</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D539CBE8-FDA6-4092-AE70-F7DAFAB6A38B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55762EE3-1ECD-4062-9954-EF9E4AF4F2B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6244580-DD6B-45F3-A7E8-7537DB04E6D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25F5A5B8-015D-4414-90B9-178BE5B2B336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DFFC9D10-1AD1-456E-B898-83E9351D8A10</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25F5A5B8-015D-4414-90B9-178BE5B2B336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FFC20F7B-38F6-4077-BD7B-4EE99E0CDD83</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>039BD519-414D-4AA0-B0F6-16C1E3D3E0B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1C564AA-BE2E-4BBF-8DFC-AEBD07EFD227</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6244580-DD6B-45F3-A7E8-7537DB04E6D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE35A362-F79B-4825-9035-C285455CB929</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B4643AE-5961-4287-8D35-BB90BD5FD9A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B974190D-99C3-4914-94CE-07C036660A97</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B66E529-6AD0-40DF-A3CF-E8A8F3220003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vincent Bouchet</string>
	<key>description</key>
	<string>Provides shortcuts to Acquia Cloud pages.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Acquia Cloud Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://cloud.acquia.com/a/applications/{var:app}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B4643AE-5961-4287-8D35-BB90BD5FD9A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ace</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait while loading the applications from Acquia Cloud.</string>
				<key>script</key>
				<string>$node index.js
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Acquia Cloud page</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>env</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while loading the environments list</string>
				<key>script</key>
				<string>$node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>728D53BB-C790-47B7-AC34-3A63863B6393</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>page</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait while loading the pages</string>
				<key>script</key>
				<string>$node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D539CBE8-FDA6-4092-AE70-F7DAFAB6A38B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>open app overview</string>
						<key>uid</key>
						<string>B974190D-99C3-4914-94CE-07C036660A97</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FE35A362-F79B-4825-9035-C285455CB929</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>app</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0FF55B05-0674-432B-A8E8-FC1837C21877</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B66E529-6AD0-40DF-A3CF-E8A8F3220003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>open env overview page</string>
						<key>uid</key>
						<string>4E4EC1EC-1784-4670-A13E-F043184103BF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open env specific page</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>55762EE3-1ECD-4062-9954-EF9E4AF4F2B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://cloud.acquia.com/a/environments/{var:env}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FEFD9F6C-6563-4629-A917-97C0475395D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://cloud.acquia.com/a/environments/{var:env}/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>91F7F02F-B4BF-4D0D-8C96-9CCDBFC7CEC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Client ID and secret are mandatory.</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>25F5A5B8-015D-4414-90B9-178BE5B2B336</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ace-refresh</string>
				<key>subtext</key>
				<string>Fetch the appliations and environments data from Acquia Cloud.</string>
				<key>text</key>
				<string>Refresh local data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F1C564AA-BE2E-4BBF-8DFC-AEBD07EFD227</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:client_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Client ID is missing</string>
						<key>uid</key>
						<string>DFFC9D10-1AD1-456E-B898-83E9351D8A10</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:client_secret}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Client Secret is missing</string>
						<key>uid</key>
						<string>FFC20F7B-38F6-4077-BD7B-4EE99E0CDD83</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Invoke the API</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D6244580-DD6B-45F3-A7E8-7537DB04E6D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>data.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>CAC6DE4C-D0D6-402C-820E-2ABB975A7207</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Applications data are being fetch from Acquia Cloud. It may take some time (depending the number of apps).</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>039BD519-414D-4AA0-B0F6-16C1E3D3E0B3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$node refresh.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>740FD2B6-0479-4349-8FF1-0E4EF468907F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Applications data have been fetched and saved locally.</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>CA3BB6EB-4D83-4C6B-9C1E-00CC4F052995</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Acquia Cloud Shortcuts workflow for Alfred

This is custom workflow for the Alfred app that lets you browse
the applications and environments which you have access on Acquia Cloud (https://cloud.acquia.com/).
It provides direct access to Acquia Cloud pages.

## Initial configuration
You'll need to create and provide an API token. To generate a new token, follow the official Acquia documentation (https://docs.acquia.com/cloud-platform/develop/api/auth/#cloud-generate-api-token).

To provide these values, click the [x] icon at the top-right of the workflow configuration view.

Then, configure the client_id and client_secret variables with the appropriate values.

In a similar maner, you need to provide the PATH to the NodeJS executable. Because Alfred is executed outside of any context, it does not know about you $PATH variable. Simply open your terminal, run `which node` and copy the result into the node variable (in the same interface than client_id and client_secret).

## Acquia Cloud data
To avoid latency due to the fetching of data from Acquia Cloud API, the data are saved locally.
To fetch the data (first time or refresh), use the `ace-refresh` command within Alfred.
It will generate a new `data.json` file into `~/Library/Application Support/Alfred/Workflow Data/vbouchet.workflow.acquia-cloud-shortcuts`.

### Override
Because the names used in Acquia Cloud UI may not be intuitive, because you may want to hide some of the applications, because you may want to personalize the way applications are listed, it is possible to override the data returned by the API.
For this purpose, you need to create a `overwrite.json` file in `~/Library/Application Support/Alfred/Workflow Data/vbouchet.workflow.acquia-cloud-shortcuts`
This is an sample of what it is possible to do:
```
[
  {
    'uid': '1234',
    'title': 'A more fancy name',
    'icon': {
      'path': '~/Library/Application Support/Alfred/Workflow Data/vbouchet.workflow.acquia-cloud-shortcuts/icons/app1.png'
    }
  }
]
```
The application uid is what is named UUID in Acquia Cloud. It is visible when accessing the page listing all the environments of an application. The url of this page is `https://cloud.acquia.com/a/applications/&lt;uuid&gt;`.

The exhaustive list of properties which can be used is available on Alfred documentation (https://www.alfredapp.com/help/workflows/inputs/script-filter/json/).

## Usage
The only command is `ace `. It will automatically list the applications you can
access. Start typing the first letters of an application to filter the list.
Press "Enter" to select the application. Next step is to select the environment
or to choose the "Application overview" entry which will open the application
page in the browser. The last step is to select which page (cron, logs, ...)
for the selected environment you want to visit.

## Contributing
You can submit your bug reports or feature requests at:
https://github.com/vbouchet31/alfred-acquia-cloud-shortcuts/issues

If you want to submit a Pull Request, please follow these simple guides:

1. Add a detailed description of what you're changing and why.
2. Don't increase the version of the workflow in your changes.

Here are some ideas for Pull Requests:

- [ ] Replace usage of NodeJS by some MacOS built-in language
- [ ] Enrich the list of pages
- [ ] Improve the wording
- [ ] Add support for ACSF applications</string>
	<key>uidata</key>
	<dict>
		<key>039BD519-414D-4AA0-B0F6-16C1E3D3E0B3</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>0FF55B05-0674-432B-A8E8-FC1837C21877</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>25F5A5B8-015D-4414-90B9-178BE5B2B336</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>55762EE3-1ECD-4062-9954-EF9E4AF4F2B5</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>5B4643AE-5961-4287-8D35-BB90BD5FD9A3</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>728D53BB-C790-47B7-AC34-3A63863B6393</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>740FD2B6-0479-4349-8FF1-0E4EF468907F</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>7B66E529-6AD0-40DF-A3CF-E8A8F3220003</key>
		<dict>
			<key>note</key>
			<string>Save the selected environment uuid into a variable.</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>91F7F02F-B4BF-4D0D-8C96-9CCDBFC7CEC5</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>CA3BB6EB-4D83-4C6B-9C1E-00CC4F052995</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>CAC6DE4C-D0D6-402C-820E-2ABB975A7207</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>D539CBE8-FDA6-4092-AE70-F7DAFAB6A38B</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>D6244580-DD6B-45F3-A7E8-7537DB04E6D2</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>F1C564AA-BE2E-4BBF-8DFC-AEBD07EFD227</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>FE35A362-F79B-4825-9035-C285455CB929</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FEFD9F6C-6563-4629-A917-97C0475395D5</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>client_id</key>
		<string></string>
		<key>client_secret</key>
		<string></string>
		<key>node</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>client_id</string>
		<string>client_secret</string>
		<string>node</string>
	</array>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/vbouchet31/alfred-acquia-cloud-shortcuts</string>
</dict>
</plist>
